
.payment-wrapper {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  padding: 20px;
}

.success {
  background: linear-gradient(135deg, #0f9d58, #0a7f44);
}

.cancel {
  background: linear-gradient(135deg, #d64949, #b73737);
}

.icon {
  font-size: 80px;
  margin-bottom: 20px;
}

.success-icon {
  color: #00ffad;
}

.cancel-icon {
  color: #ffb2b2;
}

.btn-back {
  margin-top: 25px;
  padding: 12px 30px;
  font-size: 18px;
  border-radius: 8px;
  background: white;
  color: black;
  text-decoration: none;
  font-weight: 600;
}
